html {
    background-color: white;
}
body {
    background-color: white;
    overflow-x: hidden;
}
nav{
    display: flex;
    height: 40px;
    background-color: white;
    box-sizing: border-box;
    overflow: hidden;
    background-color: white;
}
.logoobrazek{
    width: 100px;
    height: 25px;
    cursor: pointer;
    position: relative;
    left: 30px;

}
.hamburger{
    width: 20px;
    height: 18px;
    background-color: transparent;
    border: 0;
    border-top: 1px solid black;
    position: relative;
    padding-top: 20px;

    cursor: pointer;
    left: 10px;

}
.hamburger::before, .hamburger::after{
    content: '';
    width: 100%;
    top: 0;
    left: 0;
    border-top: 1px solid black;
    position: absolute;
    transform: translateY(8px);
}
.hamburger::after{
    transform: translateY(16px);
}

.nav-middle input[type="text"]{
    width: 500px;
    height: 30px;
    border-radius: 25px 0px 0px 25px;
    font-weight: bold;
    border-color: grey;
    background-color: white;
    color: black;
}
.nav-middle input[placeholder="Szukaj"]
    margin-left: 20px;
}
.justify-content{
    align-items: center;
}
.nav-left{
    height: 100%;
    width: 250px;
}
.nav-middle{
    margin-left: 200px;
    width: 580px;
    height: 100%;

}
.nav-right{
    height: 100%;
    width: 200px;

}
input[type="text"] {
    text-align: center;
    border: 0px 25px 25px 0px;
}
.lupka{
    height: 35px;
    position: absolute;
    background-color: transparent;
    width: 60px;
    border-radius: 0px 25px 25px 0px;
    border-left: 0px;
    border-color: black;
    cursor: pointer;

}
.nav-middle i{
    position: sticky;
    font-size: 15px;
    transform: translateX(-2px);
}
.fctbtn{
    flex-direction: row;
    display: flex;
}
.mikrofon{
    font-size: 23px;
    position: absolute;
    background-color: transparent;
    border-radius: 50%;
    border-color: transparent;
}
.mikrofon i{
    padding: 5px 5px 5px 5px;
    cursor: pointer;
}
.dodajfilmik {
    position: absolute;
    right: 200px;
    font-size: 30px;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}
.powiadomienia {
    position: absolute;
    right: 120px;
    font-size: 30px;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}
.profiluzytkownika {
    position: absolute;
    right: 40px;
    font-size: 30px;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}
.left-section{
    height: 950px;
    width: 230px;
    position: absolute;
    left: 0;
    overflow-y: scroll;
    margin-top: 20px;
    flex-direction: row;
    display: flex;
}
.left-section button{
    width: 160px;
    height: 35px;
    background-color: transparent;
    border-radius: 8px;
    border-color: transparent;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    text-align: right;
}
.left-section button:hover{
    background-color: grey;
}
.left-section i{
    position: absolute;
    font-size: 20px;
    left: 50px;
}
.
hr{
    width: 180px;
    position: relative;
    right: 20px;
}
.navleft-title{
    font-weight: bold;
    font-size: 20px;
}
.chanels img{
    border-radius: 25px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50px;
    transform: translateY(-5px);
}
.mainsection{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 250px;
    top: 65px;
}
.mainsection button{
    width: 150px;
    height: 40px;
    background-color: transparent;
    border-radius: 15px;
    border-color: transparent;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}
.mainsection button:hover{
    background-color: grey;
}
.filmygora img , .filmydol img{
    width: 360px;
    height: 200px;
    display: flex;
    border-radius: 20px;
    cursor: pointer;

}
.dscfilm{
    text-align: center;


}
.filmiki{
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}
.filmygora, .filmydol{
    display: flex;
    flex-direction: row;
    margin-left: 70px;
}
.filmygora{
    margin-top: 20px;
}
/*.chanels img{
    border-radius: 25px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50px;
    transform: translateY(-5px);
} */
.description img{
    border-radius: 25px;
    width: 35px;
    height: 35px;
}
.description{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    margin-top: 3px;
}
.description h3{
    width: 100%;
    height: 20px;
    text-align: left;
    flex-direction: column;
    transform: translateY(-18px);
    font-size: 16px;
    margin-left: 4px;
}
.channelname{
    position: relative;
    left: 40px;
    top: -50px;
    width: 320px;

}
.channelname p{
    height: 5px;

}
.film1 , .film2 , .film3 , .film4 ,.film5 ,.film6{
    height: 280px;
    margin-left: 8px;
    margin-right: 8px;
}
.film
.lftsdbtn{

}